@import "./variables.scss";

.header {
    background-color: $color-primary;
    display: flex;
    // justify-content: center;
    align-items: center;

    p {
        color: $color-secondary;
        font-weight: 500;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding-left: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}