@import "variables.scss";

.video {
    width: 100%;

    &--container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
    }

    &--video {
        margin-top: 0.3rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    &--ratings {
        display: flex;
        justify-content: space-between;
    }

    &--details {
        
    }

    &--title {

    }

    &--description {
        width: 100%;
    }

}