@import "variables.scss";

.video {
    width: 100%;
    padding: 0.3rem;

    &--container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
    }

    &--video {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    &--ratings {
        display: flex;
        justify-content: space-between;
    }

    &--details {
        margin-top: 1rem;
    }

    &--title {
        font-weight: 500;
        font-size: $font-size-lg;
    }

    &--description {
        width: 100%;
    }

}